@model ControleFinanceiro.WebSite.Models.PersonViewModel

@{
    ViewData["Title"] = $"Deletar {PersonViewModel.ObjectName}";
}

<h4>Deletar @PersonViewModel.ObjectName</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Main)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Main)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" confirm="Tem certeza que deseja deletar @PersonViewModel.Pronoun @PersonViewModel.ObjectName?" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
