@model IEnumerable<ControleFinanceiro.WebSite.Models.ExpenseInstallmentViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Installment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @PersonViewModel.ObjectName
            </th>
            <th>
                @CreditCardViewModel.ObjectName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdExpense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Installment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td style="text-align: end">
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdExpense, installment = item.Installment }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdExpense, installment = item.Installment }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Excluir", "Delete", new { id = item.IdExpense, installment = item.Installment }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
