@model IEnumerable<ControleFinanceiro.WebSite.Models.BillViewModel>

@{
    ViewData["Title"] = BillViewModel.ObjectNamePlural;
}

@* <div>
    <h4 class="float-start">@BillViewModel.ObjectNamePlural</h4>

    <p class="float-end">
        <a asp-action="Create" class="btn btn-success">@($"Nov{BillViewModel.Pronoun} {BillViewModel.ObjectName}")</a>
    </p>
</div> *@
<style>
    .striped tr:nth-child(4n+1) td {
        background: #f5f5f5;
    }
</style>

<table class="table striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="width: 30%">
                Cartão
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.DueDate)
            </th> 
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="tr-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td style="text-align: end">
                    <button id="btn-@item.Id" type="button" class="btn btn-primary" onclick="showDetails(@item.Id)">+ Detalhes</button>
                </td>
            </tr>
            <tr id="trDetails-@item.Id" style="display: none">
                <td id="tdDetails-@item.Id" colspan="5">
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    let alreadyLoadedBill = [];

    function showDetails(id) {
        $.ajax({
            url: '@Url.Content("~/bill/list-items")/' + id,
            type: "GET",
            success: function (result) {
                debugger;
                if (result.success) {
                    var btnText = document.getElementById("btn-" + id).innerHTML;

                    if (btnText.includes("+")){
                        if (!alreadyLoadedBill.includes(id)) {
                            $("#tdDetails-" + id).append(result.content);
                            alreadyLoadedBill.push(id);
                        }

                        $("#trDetails-" + id).toggle();
                        $("#btn-" + id).html("- Detalhes");
                    }
                    else{
                        $("#trDetails-" + id).toggle();
                        $("#btn-" + id).html("+ Detalhes");
                    }
                }
                else {
                    alert(result.message);
                }
            },
            error: function (e) {
                alert(e.Message);
            }
        });
    }
</script>
