@model IEnumerable<ControleFinanceiro.WebSite.Models.BillViewModel>

@{
    ViewData["Title"] = BillViewModel.ObjectNamePlural;
}

<style>
    /* Determina as listras da tabela a cada duas linhas */
    .striped tr:nth-child(4n+1) td {
        background: #f5f5f5;
    }
</style>

<form asp-action="Index">
    <div class="row py-5">
        <div class="col-md-2 offset-md-5 align-content-center">
            @Html.DisplayName("Somente terceiros")
            @Html.CheckBox("onlyThirds", htmlAttributes: new { @onchange = "this.form.submit()" })
        </div>
    </div>
</form>

<table class="table striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="width: 30%">
                Cartão
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="tr-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td style="text-align: end">
                    <button id="btn-@item.Id" type="button" class="btn btn-primary" onclick="showDetails(@item.Id)">+ Detalhes</button>
                </td>
            </tr>
            <tr id="trDetails-@item.Id" style="display: none">
                <td id="tdDetails-@item.Id" colspan="5">
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    let alreadyLoadedBill = [];

    function showDetails(id) {
        var btnText = document.getElementById("btn-" + id).innerHTML;

        debugger;
        if (btnText.includes("-")) {
            $("#trDetails-" + id).toggle();
            $("#btn-" + id).html("+ Detalhes");
        }
        else if (alreadyLoadedBill.includes(id)) {
            $("#trDetails-" + id).toggle();
            $("#btn-" + id).html("- Detalhes");
        }
        else{
            $.ajax({
                url: '@Url.Content("~/bill/list-items")/' + id + '/' + document.getElementById("onlyThirds").checked,
                type: "GET",
                success: function (result) {
                    debugger;
                    if (result.success) {
                        $("#tdDetails-" + id).append(result.content);
                        $("#trDetails-" + id).toggle();
                        $("#btn-" + id).html("- Detalhes");
                        alreadyLoadedBill.push(id);
                    }
                    else {
                        alert(result.message);
                    }
                },
                error: function (e) {
                    alert(e.Message);
                }
            });
        }
    }
</script>
