@model IEnumerable<ControleFinanceiro.WebSite.Models.BillViewModel>

@{
    ViewData["Title"] = BillViewModel.ObjectNamePlural;
}

<div>
    <h4 class="float-start">@BillViewModel.ObjectNamePlural</h4>

    <p class="float-end">
        <a asp-action="Create" class="btn btn-success">@($"Nov{BillViewModel.Pronoun} {BillViewModel.ObjectName}")</a>
    </p>
</div>

<div id="teste">
</div>
<table class="table">
    <thead>
        <tr>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.DueDate)
            </th> 
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.CreditCard.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="tr-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard.Name)
                </td>
                <td style="text-align: end">
                    <button type="button" class="btn btn-primary" onclick="showDetails(@item.Id)">+ Detalhes</button>
                </td>
            </tr>
            <tr id="trDetails-@item.Id" class="d-none">
                <td id="tdDetails-@item.Id" colspan="5">
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function showDetails(id) {
        $.ajax({
            url: '@Url.Content("~/bill/list-items")/' + id,
            type: "GET",
            success: function (result) {
                debugger;
                if (result.success) {
                    var trDetails = document.getElementById("trDetails-" + id);
                    trDetails.classList.remove("d-none");
                    $("#tdDetails-" + id).append(result.content);
                }
                else {
                    alert(result.message);
                }
            },
            error: function (e) {
                alert(e.Message);
            }
        });
    }
</script>
