@model IEnumerable<ControleFinanceiro.WebSite.Models.BillViewModel>

@{
    ViewData["Title"] = BillViewModel.ObjectNamePlural;
}

<div>
    <h4 class="float-start">@BillViewModel.ObjectNamePlural</h4>

    <p class="float-end">
        <a asp-action="Create" class="btn btn-success">@($"Nov{BillViewModel.Pronoun} {BillViewModel.ObjectName}")</a>
    </p>
</div>

<div id="teste">

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCard.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="tr-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard.Name)
                </td>
                <td style="text-align: end">
                    @* @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) *@
                    <button type="button" class="btn btn-primary" onclick="showDetails(@item.Id)">+ Detalhes</button>
                    @* @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) *@
                </td>
                <tr id="trDetails-@item.Id" class="d-none">
                </tr>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

function showDetails(id) {
    debugger;
    // console.log('chamou função');
    // var tr = document.getElementById("tr-" + id);
    // tdDetail.append('teste');
    // $("tdDetails-" + id).show();

    $.ajax({
        url: '@Url.Content("~/bill/list-items")/' + id,
        type: "GET",
        success: function (result) {
            debugger;
            if (result.success){
                var tdDetail = document.getElementById("trDetails-" + id);
                tdDetail.classList.remove("d-none");
                $("#trDetails-" + id).append(result.content);
            }
            else
            {
                alert(result.message);
            }
        },
        error: function (e) {
            debugger;
            alert(e.Message);
        }
    });
}    

</script>
