@model IEnumerable<ControleFinanceiro.WebSite.Models.ExpenseViewModel>

@{
    ViewData["Title"] = ExpenseViewModel.ObjectNamePlural;
}

<div>
    <h4 class="float-start">@ExpenseViewModel.ObjectNamePlural</h4>

    <p class="float-end">
        <a asp-action="Create" class="btn btn-success">@($"Nov{ExpenseViewModel.Pronoun} {ExpenseViewModel.ObjectName}")</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelQuantity)
            </th>
            <th>
                @PersonViewModel.ObjectName
            </th>
            <th>
                @CreditCardViewModel.ObjectName
            </th>
            <th width="23%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCard.Name)
                </td>
                <td style="text-align: end">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
